<div class="row">

    <div class="col-md-12">
         <div class="col-md-12">
            <h2><%=title%></h2>
        </div>
        
        <p>Select an option to continue.</p>
        
        <p><a href="/admin/create-user">Create New User</a></p>
        
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Last Login</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                   <% if(users.length){ %>
                   <% users.forEach(function(single_user, index){ %>
                   <tr>
                       <td><a href="/admin/view-user/<%-user.id%>"><%-single_user.email%></a></td>
                       <td><%-single_user.first_name%></td>
                       <td><%-single_user.last_name%></td>
                       <td>
                           <%if(single_user.date_last_login !== null){ %>
                           <%-single_user.date_last_login.toString()%>
                           <% } else { %>
                           Never
                           <% } %>
                       </td>
                       <td>
                           <% if(single_user.status === statuses.active) {%>
                           <span class="label label-success">Active</span>
                           <% } else if(single_user.status === statuses.disabled){ %>
                           <span class="label label-default">Disabled</span>
                           <% } %>
                           
                       </td>
                       <td>
                           <a href="/admin/view-user/<%-single_user.id%>">View</a> | 
                           <a href="/admin/update-user/<%-single_user.id%>">Update</a> 
                           
                           <%if(single_user.id !== user.id){%>
                           | <a href="#" 
                              onclick="if(confirm('Are you sure? This can\'t be undone.')){document.getElementById('delete-<%-single_user.id%>').submit()};return false">
                               Delete
                           </a>
                          
                           <form id="delete-<%-single_user.id%>" method="post" action="/admin/delete-user?_method=DELETE">
                               <input type="hidden" name="user_id" id="user_id" value="<%-single_user.id%>" />
                           </form>
                            <% } %>
                       </td>
                   </tr>
                   <% }); %>
                   
                   <% } else { %>
                   <tr>
                       <td colspan="6">
                           <p>No users.  <a href="/admin/add-user">Add a user</a>.</p>
                       </td>
                   </tr>
                   <% } %>
            </tbody>
            
            <tfoot></tfoot>
        </table>
        
    </div>

</div>

